<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043017147554-urq8abql5g52u75u7il66qhtpkh9l658.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043017147554-urq8abql5g52u75u7il66qhtpkh9l658</string>
	<key>API_KEY</key>
	<string>AIzaSyBv1AQU4i1d228jyQmPrgJTDYzL514YmOc</string>
	<key>GCM_SENDER_ID</key>
	<string>1043017147554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flTest</string>
	<key>PROJECT_ID</key>
	<string>safeti-71954</string>
	<key>STORAGE_BUCKET</key>
	<string>safeti-71954.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043017147554:ios:fb91c821d2002e61c063fb</string>
</dict>
</plist>